@model NavModelView
@inject IStringLocalizer<GeneralResource> GeneralResource
@inject Microsoft.Extensions.Options.IOptions<Jugnoon.Settings.Features> featureSettings
@{
  
    string qacss = "";
    string profilecss = "";
    switch (Model.ActiveIndex)
    {
        
        case 4:
            qacss = " active";
            break;
      

        case 8:
            profilecss = " active";
            break;
    }
}

<div class="list-group m-t-10">
   
    @if (featureSettings.Value.enable_qa)
    {
        <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action @qacss" href="@Config.GetUrl("user/qa/" + Model.username)">
            @GeneralResource["_qa"]
            @if (Model.Countqa > 0)
            {
                <span class="badge badge-primary badge-pill">@Model.Countqa</span>
            }

        </a>
    }

    <a class="list-group-item  list-group-item-action @profilecss" href="@Config.GetUrl("user/profile/" + Model.username)">@GeneralResource["_user_profile"]</a>
</div>