
@{
    Layout = null;
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.Extensions.Options.IOptions<Jugnoon.Settings.General> generalSettings
@inject IStringLocalizer<GeneralResource> GeneralResource
<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/admin/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
    <title>Control Panel</title>

    <link href="/sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/utility.css">

</head>

<body>

    @{
        var info = await UserManager.GetUserAsync(User);
        var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    }

    <script>
        var URL = '@SiteConfiguration.URL'; // API URL
        var Ang_UID = '@info.Id';
        var UserType = 0; // 0: normal user
        var themeName = '@SiteConfiguration.Theme'; // add multi themplate support
        var Ang_AppMessage = "";
        var Ang_Culture = '@requestCulture.RequestCulture.UICulture.Name'
        var AppType = 'admin';
        var setupType = 0;
        var ImageDirectory = '/images/';
        var AppTitle = '@generalSettings.Value.website_title';
        // search parameters
        var SearchParams = {
            term: '',
            type: ''
        };
        var SerachContentType = 0;
    </script>

    <app-root>
        <div id="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="loading"></div>
        </div>
    </app-root>

    <script src="~/tinymce/tinymce.min.js"></script>
    <script src="~/sb-admin-2/vendor/jquery/jquery.min.js"></script>
    <script src="~/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/sb-admin-2/js/sb-admin-2.min.js"></script>
  
    @* Angular App Dependencies *@
    <script src="/app/@SiteConfiguration.Theme/runtime.js" defer></script>
    <script src="/app/@SiteConfiguration.Theme/polyfills.js" defer></script>
    <script src="/app/@SiteConfiguration.Theme/scripts.js" defer></script>
    <script src="/app/@SiteConfiguration.Theme/main.js" defer></script>

</body>
</html>
