@model Jugnoon.qa.Models.qaListViewModel
@inject IStringLocalizer<GeneralResource> GeneralResource
@inject Microsoft.Extensions.Options.IOptions<Jugnoon.Settings.General> generalSettings
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
<partial name="~/Views/Shared/_BreadCrumb.cshtml" model="new BreadViewModel() { BreadItems = Model.BreadItems }" />


<div class="row">
    <div class="col-md-8" style="min-height: 500px;">
        <div class="m-b-10">
            <script>
                var URL = '@SiteConfiguration.URL'; // API URL
                var UserType = 0; // 0: normal user
                var themeName = '@SiteConfiguration.Theme'; // add multi themplate support
                var Ang_UID = '';
                var Ang_UserName = '';
                var Ang_AppMessage = '';
                var Ang_Culture = '@requestCulture.RequestCulture.UICulture.Name'
                var Ang_VideoUploaderOption = 0;
                var AppType = 'search'; // account, admin, setup, search
                var setupType = 0; // 0: database setup, 1: user, data & configuration setup
                var ImageDirectory = '/images/'; // /assets/images/
                var AppTitle = '@generalSettings.Value.website_title';
                // search parameters
                var SearchParams = {
                    term: '@Model.QueryOptions.term',
                    type: 'qa'
                };
                var SerachContentType = 0;
            </script>
            <app-root>
                <div id="loader">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="loading"></div>
                </div>
            </app-root>
        </div>

        @await Html.PartialAsync("~/Views/partials/ads/ad_728.cshtml", new AdsModelView() { isAdult = false })

    </div>
    <div class="col-md-4">
        @await Html.PartialAsync("~/Views/themes/" + SiteConfiguration.Theme + "/qa/partials/_Nav.cshtml", new Jugnoon.qa.Models.qaNavViewModel()
  {
      hideAds = false,
      hideSearch = true,
      hideArchives = true,
      hideCategories = false,
      hideTags = false,

  })
    </div>
</div>



@section Styles {
    <base href="/qa/search/@Model.QueryOptions.term">
}

@section Scripts {
    <script src="/app/@SiteConfiguration.Theme/runtime.js" defer></script>
    <script src="/app/@SiteConfiguration.Theme/polyfills.js" defer></script>
    <script src="/app/@SiteConfiguration.Theme/scripts.js" defer></script>
    <script src="/app/@SiteConfiguration.Theme/main.js" defer></script>
}
